@import "tailwindcss";

@keyframes slide-out {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slide-out {
  animation: slide-out 0.5s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.emoji-1 {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s forwards;
  animation: 0.2s fadeIn 0.2s forwards;
}

.emoji-2 {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s forwards;
  animation: 0.8s fadeIn 0.2s forwards;
}

.emoji-3 {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s forwards;
  animation: 1.4s fadeIn 0.2s forwards;
}

.emoji-4 {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s forwards;
  animation: 2s fadeIn 0.2s forwards;
}

.emoji-5 {
  opacity: 0;
  -webkit-animation: fadeIn 0.2s forwards;
  animation: 2.6s fadeIn 0.2s forwards;
}
